/*Helper Classes*/
.dark-blue {background-color:#0B0244;}
.teal {background-color:#0BF1BF;}
.white {color:white;}
.red {background-color:red;}
.purple {background-color:purple;}
.light-grey {background-color:#d3d3d3;}
.med-grey {background-color:#a9a9a9;}
.dark-grey {background-color:#696969;}
.h60 {height:60px;}
.h5 {height:3px;}
.h100 {height:100px;}
.h200 {height:200px;}
.h300 {height:300px;}
.h350 {height:380px;}
.h390 {height:398px;}
.h400 {height:400px;}
.h500 {height:500px;}
.h600 {height:600px;}
.h700 {height:700px;}
.h900 {height:900px;}
.mt50 {margin-top:35px;}
.p20 {padding:0px 50px 0px 50px;}
.mt5 {margin-top:5px;}
.mt-5 {margin-top:-5px;}
.ml30 {margin-left:30px;}




.container {
	min-width:1000px;
}
.about-p {
	font-size:16px;
	padding:30px;
	line-height:25px;
}
.nav-pills>li>a {
	color:white;
	margin-left:10px;
}
.nav-pills {
	font-size:15px;
	color:white;
	font-family: 'Roboto', sans-serif;
	font-weight:400;
}
.nav li.active a{
	background-color:#0B0244;
	border-radius:0px;
	border-bottom:3px solid #0BF1BF;
	color:#0BF1BF;
	font-size:15px;
	font-weight:600;
}

.nav li.active a:hover, .nav li a:hover {
	border-bottom:3px solid #0BF1BF;
	color:#0BF1BF;
	border-radius:0px;
	background-color:#0B0244;
	font-weight:600;
}

.example-class
{
	text-shadow: [X offset] [Y offset] [Blur size] [Colour];
}

.shadow { 
   color: #0BF1BF; 
   font: bold 52px Helvetica, Arial, Sans-Serif;
   text-shadow: 1px 1px #0BF1BF, 
                2px 2px #0BF1BF, 
                3px 3px #0BF1BF;
}
.shadow:hover {
   position: relative; 
   top: 3px; 
   left: 3px; 
   text-shadow: 1px 1px white, 
                2px 2px white, 
                3px 3px white, 
                4px 4px white, 
                5px 5px white, 
                6px 6px white;
}




